<div class="jumbotron jumbo-snapchat">
    <div class="show-title">
      <h1 class="animated slideInLeft display-3 jumboheader">Snapchat</h1>
    </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Advertising with Snapchat</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="col-sm-4 text-center">
      <h3>Snap Ads</h3>

    <%= video_tag ("snap_ads.mp4"), :controls => false, :autobuffer => true, :autoplay => true, :loop => true, :alt => "Snapchat filter demo", :class => "card-img-top rounded-0 img-fluid"  %>
    </div>
    <div data-scroll="toggle(.fromTopIn, .fromTopOut) offset(0, -150px)" class="col-sm-4 text-center">
    <h3>Sponsored Geofilters</h3>
    <%= video_tag ("snapchat_filter.mp4"), :controls => false, :autobuffer => true, :autoplay => true, :loop => true, :alt => "Snapchat filter demo", :class => "card-img-top rounded-0 img-fluid"  %>
      
    </div>

    <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="col-sm-4 text-center">

    <h3>Sponsored Lense</h3>
    <%= video_tag ("snap_lense.mp4"), :controls => false, :autobuffer => true, :autoplay => true, :loop => true, :audio => false, :alt => "Snapchat filter demo", :class => "card-img-top rounded-0 img-fluid"  %>
    </div>


  </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">SnapStats</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Snapchat's Video Views Are Now Greater Than Facebook's</h6>
        <p>Snapchat now boasts over 10 billion videos views per day, according to <a class="pink" href="https://www.bloomberg.com/news/articles/2017-02-20/snap-s-ipo-draws-barclays-ceo-but-london-investors-remain-wary">Bloomberg</a>, surpassing rival Facebook's 8 billion daily video views (<a class="pink" href="http://fortune.com/2015/11/04/facebook-video-growth/">Fortune</a>).</p>
      </div>
      <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Snapchat Ads Are Viewed Up To A Million Times Per Day</h6>
        <p>Snapchat ads are seen anywhere between 500,000 to a million times per day(<a class="pink" href="http://www.recode.net/2015/3/12/11560116/snapchats-ad-rates-for-its-discover-feature-are-really-high">Recode</a>).</p>
      </div>
      <div data-scroll="toggle(.fromLeftIn, .fromLeftOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Millennials Account For 7 Out Of 10 Snapchatters</h6>
        <p>Millennials, a demographic marketers are spending 500% more to reach than all others combined, account for over 70% of all Snapchat users (<a class="pink" href="https://www.emarketer.com/Article/Want-Reach-Millennials-Say-Hello-Snapchat/1011871">eMarketer</a>).</p>
      </div>
    </div>
    <div class="col-sm-4">
      <%= image_tag("iphone.png", :alt => "iphone", :class => "img-fluid  mx-auto d-block mb-30") %>
    </div>

    <div class="col-sm-4">
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>16% Of Marketers Plan On Increasing Snapchat Use</h6>
        <p>While only 5% of marketers are currently using Snapchat, brands should consider Snapchat marketing an essential aspect of future social media marketing strategies.(<a class="pink" href="https://www.emarketer.com/Article/Video-Ad-Spending-on-Social-Platforms-Rising-Fast/1013977">eMarketer</a><small>- May 2016</small>)</p>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Daily Video Views Have Increased 400% Year-On-Year</h6>
        <p>From May 2015 to May 2016, Snapchat's daily video views have grown 400% (from 2 billion to 10 billion, according to <a class="pink" href="https://www.bloomberg.com/news/articles/2016-04-28/snapchat-user-content-fuels-jump-to-10-billion-daily-video-views">Bloomberg</a>).</p>
      </div>
      <div data-scroll="toggle(.fromRightIn, .fromRightOut) offset(0, -150px)" class="aside p-1 my-1">
        <h6>Snapchat Now Has More Users Than Twitter</h6>
        <p>An estimated 150 million people now use Snapchat, according to <a class="pink" href="https://www.bloomberg.com/news/articles/2016-06-02/snapchat-passes-twitter-in-daily-usage">Bloomberg</a>. The messaging app now claims more active users than the micro-blogging platform Twitter.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-2">
    <h2 data-scroll="toggle(.fromTopIn, .fromTopOut)" class="section-headers">Influencers</h2>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <p class="lead">The closed platform of snapchat can often present a problem for brands looking to gain mass market publicity for their product or service. One of the ways we overcome this issue is using relevant social influencers to help target your core demographic.</p>
   
  </div>
</div>
<div class="cream-band">
  <div class="container">
    <p data-scroll="toggle(.fromTopIn, .fromTopOut)" class="pt-2 text-center lead">
      Find out about how Ipso Facto can help your brand reach out on SnapChat to gain brand awareness, engagement and followers.
    </p>
    <div data-scroll="toggle(.fromBottomIn, .fromBottomOut) once" class="row mb-2">
    <%= link_to 'Get a quote', contact_path, :class => "btn btn-primary d-block mx-auto button-pink" %>
    </div>
  </div>
  
</div>
